<div class="container w-50">
  <form [formGroup]="loginFORM" (ngSubmit)="loginUser()">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address or Phone</label>
      <input type="text" class="form-control" formControlName="email_phone">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control"  minlength="8" formControlName="password">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
